<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block html_title %}
            Biology tutoring
        {% endblock html_title %}
    </title>

    {% load static %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">


</head>

<body>
    <header class="welcome">
        <div class="container">
            <img src="" alt="logo picture">
            <ul class="menu">
                <li>Уроки</li>
                <li>Тесты</li>
                <li>Блог</li>
            </ul>
        </div>
        <h1 class="welcome-title">Make Biology Great Again</h1>
    </header>
    <main class="content">
        <img src="" alt="Hello it's me">
        <div class="welcome-text">
            Привет, я Вера, и я - молодой преподаватель. Вы, наверняка, сейчас подумали:
            <ul>
                <li>Почему она не ищет учеников на каком-нибудь из репетиторских сайтов-агрегаторов?</li>
                <li>Почему она не продвигает инстаграм?</li>
                <li>Почему она не преподает в школе?</li>
            </ul>
            Что же, я постараюсь ответить структурированно:
            <ul>
                <li>Ну, на репетиторских сайтах я раньше сидела, но сейчас не особенно меня туда тянет, если честно:
            я не большая любительница отдавать свои кровно заработанные кому-то кроме государства в виде налогов.</li>
                <li>По поводу инстаграма - ну почему же, я туда пишу. Но поскольку моя основная деятельность - это все же
            преподавание, то я посчитала нужным написать свою собственную платформу, где будут ресурсы, тесты и
            мои глубокомысленные рассуждения о жизни этой. Блогерство - это все прекрасно, конечно, но давайте
            честно: целевая аудитория у меня - школьники, а они в тиктоке пасутся. Соцсеть, в которой все время
            что-то мелькает перед глазами, - это для меня ту мач.</li>
                <li>По поводу преподавания в школе - по ряду причин это меня <b>никогда вообще</b> не прельщало. Да и
                педагогического образования нет, так что и рассуждать как-то не приходится</li>
            </ul>
            В общем, я здесь, чтобы сделать интерфейс общения с учениками наиболее удобным и понятным, а еще -
            чтобы делать вам тестики по каждой из пройденных тем, а то ну куда ж без них-то, ну)
        </div>
    </main>

</body>